table {
	
	width: 280px;
	height: 400px;
	margin-left: 8px;
	table-layout: fixed;
	padding-top: 5px;


}

th {
	color: #112525;
	font-family: New Century Schoolbook, TeX Gyre Schola, serif;
	font-size: 20px;
}

tbody  {
	width: 280px;

}

.tr {
	list-style-type: none;
	color: #112525;
	font-size: 18px;
	border-style: solid;
	width: 280px;

}
	
.item {
	color: white;
	float: left;
	box-sizing: border-box;
	margin-left: 38px;
}

.btnED {
  display: inline-block;
  color: white;
  text-decoration: none;
  float: right;
  margin-right: 15px;
  outline: none;
  border-width: 2px 0;
  border-style: solid none;
  border-color: #FDBE33 #000 #D77206;
  border-radius: 6px;
  background: linear-gradient(#F3AE0F, #E38916) #E38916;
  transition: 0.2s;
  height: 20px;
  width: 55px;
}

.elandbtns {
	text-align: center;
	

}

.btns {
	box-sizing: border-box;
	margin-right: 10px;
	
}

.taskInput {
	box-shadow: none;
}

.checkboxCompleted {
	width: 20px;
	height: 20px;
}

.completedList {
	width: 240px;
	height: 28px;
	border-radius: 5px;
	border-style: dashed;
	background-color: #788B85;
	border-color: white;
	border-width: 1px;	
}